@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'poppins';
}
:root {
  --primary: #3490dc;
  --primary-foreground: #ffffff;
  --input: #f7fafc;
  --card: #ffffff;
  --card-foreground: #2d3748;
  --secondary: #ffed4a;
  --secondary-foreground: #1a202c;
  --muted: #edf2f7;
  --muted-foreground: #718096;
}
